<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.kontakt }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a class="find" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
		  <p class="rss-subscribe">subscribe <a class="find" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="find">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
		  
		  {% if site.facebook_username %}
          <li class="find">
            {% include icon-facebook.html username=site.fb_username usrnm=site.facebook_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <a class="find" href="http://www.fiit.stuba.sk/">{{ site.fiit }}</a>
		<span>Dnes je </span>
		{% assign m = site.time | date: "%-m" %}
		{% assign a = site.time | date: "%-a" %}
		{% case a %}
		  {% when "Mon" %}Pondelok
		  {% when "Tue" %}Utorok
		  {% when "Wed" %}Streda
		  {% when "Thu" %}Štvrtok
		  {% when "Fri" %}Piatok
		  {% when "Sat" %}Sobota
		  {% when "Sun" %}Nedeľa
		  {% else %}{{ a }}
		  {% endcase %},
		{{ site.time | date: "%-d." }}
		{% case m %}
		  {% when '1' %}Január
		  {% when '2' %}Február
		  {% when '3' %}Marec
		  {% when '4' %}Apríl
		  {% when '5' %}Máj
		  {% when '6' %}Jún
		  {% when '7' %}Júl
		  {% when '8' %}August
		  {% when '9' %}September
		  {% when '10' %}Október
		  {% when '11' %}November
		  {% when '12' %}December
		{% endcase %}
		{{ site.time | date: "%Y" }}<br>
		
      </div>
    </div>

  </div>

</footer>
