---
layout: default
---
<div class="home">

  <h1 class="page-heading">Novinky vo svete IT</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="prispevok">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
		<p class="post-description">{{post.description}}<br>{% include /webove_publikovanie/zadanie_1/_includes/tagsforpost.html tags=post.tags %}</p>
		
      </li>
    {% endfor %}
  </ul>
</div>
