---
layout: default
---

<p class="tagtitle">{{page.tagtitle}}</p>

<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <time class="ts" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%d/%m/%y"}}</time> 
	<a class="archive_list_article_link" href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
    <p class="summary">{{post.description}}
      {% for tag in post.tags %}
        <a href="http://patro213.github.io/patro213.github.io/tag/{{ tag }}">#{{ tag }}</a>
      {% endfor %}</p>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>